.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 24px;
    font-family: "Consolas", cursive;
}

.board{
    margin-left: 5%;
    margin-right: 5%;
}

body:before{
    background-image: url("http://iceeera.com/gallery/selected/Pic-22.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 15%;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: "";
}

body {
    margin: 0;

}